.axe,
.projet {
    width: 100%;
    height: 100%;
    padding-left: 130px;
    margin-top: 4.5rem;

    p{
        margin-top: 1rem;
    }

    .slider{
        margin-top: 2rem;
    }

    .cards{
        display: flex;
        gap: 3.5rem;
        align-items: center;
        cursor: pointer;
    }
}

.axe{
    .card{
        width: 305px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid;
        border-radius: 10px;
        border-color: var(--color-orange);
        position: relative;
    }

    .card-lock{
        width: 305px;
        height: 200px;
        opacity: 0.5;
        background-color: var(--color-orange);
        background-image: url(../../../assets/images/lock.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        border-radius: 10px;
    }
}

.projet {
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 480px;
        height: 265px;
    }
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    input{
        width: 250px;
        border-bottom: 1px solid;
        padding-bottom: 5px;
        border-color: var(--color-orange);
    }

    i{
        color: var(--color-orange);
        margin-left: 10px;
    }
}

.arrow{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 4.5rem 0;

    i{
        width: 32px;
        height: 32px;
        border: 1px solid;
        border-radius: 50%;
        padding: 5px;
        border-color: var(--color-orange);
        color: var(--color-orange);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.tips, .tips2{
    &:hover{
        cursor: pointer;
    }
}