// ---------------------------------------------------------------------------------------------------------------------
// Reset style
// ---------------------------------------------------------------------------------------------------------------------
@import "./reset";

// ---------------------------------------------------------------------------------------------------------------------
// Toolbox
// ---------------------------------------------------------------------------------------------------------------------
@import "./utilities";

// ---------------------------------------------------------------------------------------------------------------------
// Style
// ---------------------------------------------------------------------------------------------------------------------
@import "./typography";

// ---------------------------------------------------------------------------------------------------------------------
// Variables
// ---------------------------------------------------------------------------------------------------------------------

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-size: var(--font-body-scale);
  color: var(--color-white);
  line-height: var(--base-text-line-height);
  font-style: var(--font-body-style);
  background: var(--color-brown);
}
